
BODY{
background-color:#C6E5B1;
width:1225px;
height:auto;
item-align:center;
margin:auto;

#ENCABEZADO{
width:1200px;
height:auto;
items-align:center;
text-align:center;
border:15px solid  #225300;
}
#DATOS{
font-family:Bahnschrift;
color:black;
font-size:25px;
width:1150px;
height:auto;
margin:auto;
text-align:left;
background:#89AC76;
border:5px solid  #225300;
H1{
font-family:Bahnschrift;
color:black;
text-align:center;
}
}
#España{
width:1150px;
height:auto;
margin:auto;
background:#E1C699;
border:5px solid  #225300;
items-align:center;
text-align:center;
P{
width:800px;
border:5px solid black;
height:auto;
margin:auto;
background:#CBE0E9;
font-family:Bahnschrift;
color:black;
font-size:80px;
text-align:center;
#RI{
align:middle;
height:170px;
width:150px;
}
#LE{
align:middle;
height:170px;
width:150px;
}
}
H1{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#E51A4C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#GRAN{
width:auto;
height:auto;
background:transparent;
H3{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#2D572C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#MALLO{
width:auto;
height:auto;
background:transparent;
H4{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#572364;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
color:black;
font-family:arial;
font-size:25px;
}






#FRANCIA{
width:auto;
height:auto;
margin:auto;
background:#E1C699;
border:5px solid  transparent;
items-align:center;
text-align:center;
P{
width:800px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:80px;
text-align:center;
#RI{
align:middle;
height:170px;
width:150px;
}
#LE{
align:middle;
height:170px;
width:150px;
}
}
H5{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#GRAN{
width:auto;
height:auto;
background:transparent;
H6{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#2D572C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#MALLO{
width:auto;
height:auto;
background:transparent;
H7{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#572364;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
color:black;
font-family:arial;
font-size:25px;
}



#ALEMANIA{
width:auto;
height:auto;
margin:auto;
background:#E1C699;
border:5px solid  transparent;
items-align:center;
text-align:center;
P{
width:800px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:80px;
text-align:center;
#RI1{
align:middle;
height:170px;
width:150px;
}
#LE1{
align:middle;
height:170px;
width:150px;
}
}
H8{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#DORT{
width:auto;
height:auto;
background:transparent;
H9{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#2D572C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#HAMB{
width:auto;
height:auto;
background:transparent;
H10{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#572364;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
color:black;
font-family:arial;
font-size:25px;
}



#REINO{
width:auto;
height:auto;
margin:auto;
background:#E1C699;
border:5px solid  transparent;
items-align:center;
text-align:center;
P{
width:900px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:80px;
text-align:center;
#RII{
align:middle;
height:170px;
width:150px;
}
#LEI{
align:middle;
height:170px;
width:150px;
}
}
H11{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#LON{
width:auto;
height:auto;
background:transparent;
H12{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#2D572C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#BRE{
width:auto;
height:auto;
background:transparent;
H13{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#572364;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
color:black;
font-family:arial;
font-size:25px;
}




#FIN{
width:auto;
height:auto;
margin:auto;
background:#E1C699;
border:5px solid  transparent;
items-align:center;
text-align:center;
P{
width:800px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:80px;
text-align:center;
#RIFI{
align:middle;
height:170px;
width:150px;
}
#LEF{
align:middle;
height:170px;
width:150px;
}
}
H14{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#FADCE6;
font-family:Bahnschrift;
color:black;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
#HEL{
width:auto;
height:auto;
background:transparent;
H15{
width:500px;
border:5px solid black;
height:auto;
margin:auto;
background:#2D572C;
font-family:Bahnschrift;
color:white;
font-size:100px;
}
.slider-box{
width:700px;
background:pink;
position:relative;
height:500px;
color:red;
font-size:50px;
border:5px solid black;
}
#todos{
.clase10{
width:700px;
height:100%;
img{
width:700px;
height:500px;
}
}
.clasec{
position:absolute;
width:700px;
height:100%;
display:flex;
align-items:center;
justify-content:space-between;
padding:auto;
top:0;
}
margin:auto;
border:5px solid black;
height:500px;
overflow:hidden;
items-align:center;
width:700px;
}
}
}
#info{
text-align:center;
volor:black;
font-family:arial;
font-size:25px;
}
}/*finotro*/
.BOTON{
cursor:url("esp.png"),auto;
display:flex;
justify-content:center;
margin:2rem;
}
.noti{
cursor:url("esp.png"),auto;
padding:35px 50px;
font-size:40px;
align:center;
border-radius:1rem;
background:#251b1b;
font-family:consolas;
overflow:hidden;
transition:0.2s;
color:white;
letter-spacing:6px;
}
.noti:hover{
background:#a945d7;
box-shadow: 0 0 10px #a945d7, 0 0 40px #a945d7;
cursor:url("esp.png"),auto;

}		
}




































}