BODY{
background-image:url("quie.jpg");
background-size:cover;
width:800px;
height:auto;
margin:50px auto;
text-align:center;
items-align:center;
	#ENCABEZADO{
align:middle;
color:#cdb0ac;
font-size:25px;
font-family:consolas;
text-align:center;
border:15px solid #252850;
width:800px;
height:auto;
background:#755465;
	
}
#CUERPO{
border:15px solid #947549;
margin:auto;
font-size:25px;
font-family:consolas;
text-align:center;
width:800px;
height:auto;
background:black;
color:white;

}
}
.BOTON{
cursor:url("esp.png"),auto;
display:flex;
justify-content:center;
margin:2rem;
}
.noti{
cursor:url("esp.png"),auto;
padding:35px 50px;
font-size:40px;
align:center;
border-radius:1rem;
background:#251b1b;
font-family:consolas;
overflow:hidden;
transition:0.2s;
color:white;
letter-spacing:6px;
}
.noti:hover{
background:#a945d7;
box-shadow: 0 0 10px #a945d7, 0 0 40px #a945d7;
cursor:url("esp.png"),auto;

}		





















































}